$bg_color_card_of_film :rgba(27, 26, 26, 0.658);

.filmCard {
    width: 270px;
    position: relative;
    height: 490px;
    margin: 10px;
    justify-content: center;
    border-radius: 6px;
    background-color: $bg_color_card_of_film;
    box-sizing: border-box;
    color: rgb(163, 163, 162);
    .filmCard_card_link {
        text-decoration: none;
        color: white;
        .filmCard_card_img{
            width:260px;
            border-radius: 6px;	
        };
        .filmCard_description_box {
            width: 260px;
            text-align: left;
            padding: 0 15px;
            .filmCard_description_title{
                font-size: 1.3rem;
                box-sizing: border-box;
                font-weight: 500;
                margin: 0 auto;
                height: 220px;
                
            }
            .filmCard_description_rate {
                font-size: 16px;
                margin-left:5px;
                
            }
            .filmCard_genreBox {
                display: flex;
                flex-wrap: wrap;
                width: 250px;
                text-align: left;
            }.filmCard_genreBox_item {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 100;
                text-align: left;
                font-size: 12px;
                margin: 5px 1px;
                padding: 0 2px;
                border-radius: 5px;
                background-color: rgb(56, 54, 54);
                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
        }
    }
    .filmCard_favorites {
        position: absolute;
        left: 220px;
        bottom: 115px;
        &:hover {
            transition: 0.5s;
            transform: scale(1.2);
        }
    }

}
.feature_true, .feature_false {
    width: 35px;
    cursor: pointer;
}

.description_box {
    display: flex;
    border-radius: 0 0 5px 5px;
    flex-direction: column;
    font-size: medium;
    height: 200px;
    position: relative;
    bottom: 205px;
    opacity: 0
}

.filmCard_card_img{
    width:260px;
    border-radius: 6px;	
}


.genreBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.genreBox_item {
    margin: 0 5px;
}

.description_title {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
}
.filmCard_card_link {
    text-decoration: none;
    color: white
}

