.filmPage {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    align-items: center;
    .filmOfDescription {
        display: flex;
        flex-wrap: wrap;
        width: 1280px;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    };
    .filmPage_img {
        max-width: 350px;
        width: 100%;
        border-radius: 10px;
    };
    .favoritesBtn {
        position: relative;
        width: 20px;
        height: 20px;
        right: 40px;
        top: 15px;
        font-weight: bold;  
    };
    .filmOfDescription__descriptionBox {
        display: flex;
        flex-direction: column;
        width: 65%;
        align-items: center;
        max-width: 500px;
        margin-left: 20px;
    };
    .filmTitle {
        display: block;
        font-size: 20px;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }; 
};

.titleOfRecommendation {
    margin-right: auto;
    margin-bottom: 20px;
    padding:5px;
    margin-left: 20px;
    font-size: 18px;
    border: 2px solid black

    
}
.recommendedBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    align-items: center;
    width: 90%;
    justify-content: center;
}

.recommendedBox_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    align-items: center;
    width: 100%;
    justify-content: center;
};

.dataBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    font-size: small;
    p {
        text-align: start;
        b {
            background-color: none; 
        };
    };
    .dataBox__item {
        padding: 5px;
        font-size: 1.2em;
        font-weight: 400;
    };
};

.VideoBox {
    width: 100%;
    padding: 15px;
    justify-content: center;
    iframe {
        width: 80%;
        height: 200px;
    };
};







