$color_search_panel: #811203;

.search {
    max-width: 250px;
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  
  .searchSpan {
    width: 35%;
    border: 1px solid $color_search_panel;
    background: $color_search_panel;
    // padding-top: 4px;
    text-align: center;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
  .searchInput {
    width: 85%;
    border: 3px solid $color_search_panel;
    border-left: none;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    outline: none;
  }