$bg_color_card_of_film :rgba(27, 26, 26, 0.658);

.RecommendCard {
    width: 270px;
    position: relative;
    height: 490px;
    margin: 10px;
    justify-content: center;
    border-radius: 6px;
    background-color: $bg_color_card_of_film;
    box-sizing: border-box;
    color: rgb(163, 163, 162);
    .RecommendCard_link {
        text-decoration: none;
        color: white;
        .RecommendCard_img{
            width:260px;
            border-radius: 6px;	
        };
        .RecommendCard_description_box {
            width: 260px;
            text-align: left;
            padding: 0 15px;
            .RecommendCard_description_title{
                font-size: 20px;
                box-sizing: border-box;
                font-weight: 500;
                margin: 0 auto;
                height: 220px; 
            };
            .RecommendCard_description_rate {
                font-size: 15px;
                margin-left:5px;
            };
            .RecommendCard_genreBox {
                display: flex;
                flex-wrap: wrap;
                width: 250px;
                text-align: left;
            }.RecommendCard_genreBox_item {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 100;
                text-align: left;
                font-size: 12px;
                margin: 5px 1px;
                padding: 0 2px;
                border-radius: 5px;
                background-color: rgb(56, 54, 54);
                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                };
            };
        };
    };
};