$bg_color_card_of_film :rgba(27, 26, 26, 0.658);
$font_color_card_of_film: rgb(163, 163, 162);

.favoritesPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
};

.favoriteFilms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 80%;
}

.favoriteCard {
    width: 270px;
    position: relative;
    height: 480px;
    margin: 10px;
    justify-content: center;
    border-radius: 6px;
    background-color: $bg_color_card_of_film;
    box-sizing: border-box;
    color: rgb(163, 163, 162);
    .favoriteCard_link {
        text-decoration: none;
        color: white;
        .favoriteCard_img{
            width:260px;
            border-radius: 6px;	
        };
        .favoriteCard_description_box {
            width: 260px;
            text-align: left;
            padding: 0 15px;
            .favoriteCard_description_title{
                font-size: 1.2rem;
                box-sizing: border-box;
                font-weight: 500;
                margin: 0 auto;
                height: 220px;
            }
            .favoriteCard_description_rate {
                font-size: 16px;
                margin-left:5px;  
            }
            .favoriteCard_genreBox {
                display: flex;
                flex-wrap: wrap;
                width: 250px;
                text-align: left;
            }.favoriteCard_genreBox_item {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 100;
                text-align: left;
                font-size: 12px;
                margin: 5px 1px;
                padding: 0 2px;
                border-radius: 5px;
                background-color: rgb(56, 54, 54);
                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                };
            };
        };
    };
};

.favoriteCard_favorites {
    position: absolute;
    left: 210px;
    bottom: 115px;
    &:hover {
        transition: 0.5s;
        transform: scale(1.2);
    };
};

.favorites_message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top:-50px;
};

.favoriteCard__feature_true {
    width: 40px
};

.rateBtn {
    width: 15px;
    margin-left: 10px;
}

